:root {
  --grayF8:  #f8f8f8;
  --gray6:  #666666;
  --gray3:  #333333;
  --black:  #000000;
  --pink:  #f5b4a4;
  --orange:  #e0b195;
  --charcoal-bg:  #d0d2d8;
  --cream:  #FDF8F5;
  --tan-light:  #FAEEE7;
  --cream-1:  #f1ded4;
  --tan:  #b49f92;
  --lightBlue:  #e4f5fb;
  --blue-light:  #e4f5fb;
  --mint-bg:  #d3e1e6;
  --blue-muted:  #7a8492;
  --duoLight:  #3f5db5;
  --duoLighter:  #3a5ec1;
  --blue-bright:  #3a5ec1;
  --duo:  #324477;
  --blue-dark:  #324477;
  --blue-darker:  #172345;
  --default:  #324477;
  --defaultLight:  #324477;
  --defaultDark:  #324477;
  --primary-dark:  #3f5db5;
  --gold:  #ffbf26;
  --lightGradientTop:  linear-gradient(180deg, #e4f5fb, #ffffff, #e4f5fb);
  --gradient-light-blue:  linear-gradient(180deg, #e4f5fb, #ffffff, #e4f5fb);
  --gradient-ocean:  linear-gradient(#95d6ec, #6f927c, #0f5f7b);
  --gradient-tan-white:  linear-gradient(#FAEEE7, #ffffff);
  --gradient-gray:  linear-gradient(top, #FDF8F5 33%, #ffffff 73%);
  --gradient-white-tan:  linear-gradient(#ffffff, #FAEEE7);
  --gradient-white-blue:  linear-gradient(#ffffff, #e4f5fb);
  --gradient-white-mint:  linear-gradient(#ffffff, #d3e1e6);
  --gradient-blue-white:  linear-gradient(#e4f5fb, #ffffff);
  --gradient-mint-white:  linear-gradient(#d3e1e6, #ffffff);
  --gradient-blue-tan:  linear-gradient(#e4f5fb, #FAEEE7);
  --gradient-tan-blue:  linear-gradient(#FAEEE7, #e4f5fb);
  --gradient-tan-white-blue:  linear-gradient(#FAEEE7, #ffffff, #e4f5fb);
  --gradient-blue-white-tan:  linear-gradient(#e4f5fb, #ffffff, #FAEEE7);
  --gradient-tan-white-tan:  linear-gradient(#FAEEE7, #ffffff, #FAEEE7);
  --gradient-blue-white-blue:  linear-gradient(#e4f5fb, #ffffff, #e4f5fb);
  --gradient-white-blue-white:  linear-gradient(#ffffff, #e4f5fb, #ffffff);
  --gradient-light-blue-mint:  linear-gradient(#e4f5fb, #d3e1e6);
  --gradient-mint-light-blue:  linear-gradient(#d3e1e6, #e4f5fb);
  --twitter:  #00aced;
}